@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your profile</h1>
    Click on  <a asp-area="" asp-page="/Contacts/Index">Contacts</a> to view and edit your contacts 
</div>
